.hive-metastore/
.spark-warehouse/
*.egg-info
.env/
env/
venv/
*.pyc
__pycache__
.tox/
.idea/
build/
dist/
dbt-integration-tests
test/integration/.user.yml
.DS_Store
.vscode
.python-version
*.log
logs/
/sample-test/
/.run/pytest.run.xml
/.run/
