markupsafe==2.0.1
protobuf==4.25.5
dbt-core==1.7.19
dbt-common==1.9.0


freezegun==0.3.9
pytest==7.0.0
mock>=1.3.0
flake8>=3.5.0
bumpversion==0.5.3
tox==3.2.0
ipdb
pytest-xdist>=2.1.0,<3
flaky>=3.5.3,<4
pytest-csv
twine

# Test requirements
dbt-tests-adapter==1.7.19
